<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/resources :: headTags"></div>
	<title>Eventi</title>
</head>

<nav th:replace="fragments/navbar"></nav>

<body>
	<h1>Eventi</h1>

		<!-- success message -->
	<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${message != null}">
		<span th:text="${message}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>



	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Nome</th>
				<th scope="col">Location</th>
				<th scope="col">Categoria</th>
				<th scope="col">Data di inizio</th>
				<th scope="col">Data di fine</th>
				<th scope="col">Prezzo</th>
				<th scope="col">Comandi</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${listEve}">
				<td th:text="${item.id}"></td>
				<th th:text="${item.nome}"></th>
				<td th:text="${item.location.getNome()}"></td>
				<td th:text="${item.categorieString()}"></td>
				<td th:text="${item.inizioToString()}"></td>
				<td th:text="${item.fineToString()}"></td>
				<td th:text="${item.biglietto}">
				<td><a type="button" th:href="@{|/eventi/admin/edit/${item.id}|}">Modifica</a>
				<a type="button" th:href="@{|/eventi/admin/delete/${item.id}|}"
						onclick="return confirm('Sei sicuro?')">Elimina</a>
				<a th:unless="${item.pubblicato}" type="button" th:href="@{|/eventi/admin/pubblica/${item.id}|}">Pubblica</a>
				<a th:if="${item.pubblicato}" th:unless="${item.annullato}" type="button" th:href="@{|/eventi/admin/annulla/${item.id}|}">Annulla</a>
				</td>

			</tr>
		</tbody>
	</table>




	<div th:replace="fragments/resources :: scripts"></div>

</body>

</html>