<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/resources :: headTags"></div>
	<title>Eventi</title>
</head>

<nav th:replace="fragments/navbar"></nav>

<body>
	<h1>Crea nuova location</h1>
	<form id="evento-form" th:object="${location}" th:action="@{/eventi/admin/createLocation}" method="post">
		<div class="mb-3">
			<label for="nome" class="form-label">Nome</label>
			<input th:field="*{nome}" th:errorClass="is-invalid" type="text" class="form-control" id="nome">
			<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('nome')}" th:text="${err}" class="text-danger"></li>
				</ul>
			</div>
		</div>
		<div class="mb-3">
			<label for="capienza" class="form-label">Capienza</label>
			<input th:field="*{capienza}" th:errorClass="is-invalid" type="number" class="form-control" id="capienza">
			<div th:if="${#fields.hasErrors('capienza')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('capienza')}" th:text="${err}" class="text-danger"></li>
				</ul>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Crea</button>
		<button type="reset" class="btn btn-primary">Resetta tutti i campi</button>
	</form>


	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nome</th>
				<th scope="col">Posti</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="loc : ${listLoc}">
				<td th:text="${loc.nome}"></td>
				<td th:text="${loc.capienza}"></td>
				<td><a type="button" th:href="@{|/eventi/admin/delete/loc/${loc.id}|}"
						onclick="return confirm('Sei sicuro?')">Elimina</a></td>
			</tr>

		</tbody>
	</table>




	<div th:replace="fragments/resources :: scripts"></div>
</body>

</html>