<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/resources :: headTags"></div>
	<title>Eventi</title>
</head>

<nav th:replace="fragments/navbar"></nav>

<body>

	<h1>Crea nuova categoria</h1>


	<form id="categoria-form" th:object="${categoria}" th:action="@{/eventi/admin/createCategory}" method="post">

		<div class="mb-3">
			<label for="nome" class="form-label">Nome</label>
			<input th:field="*{nome}" th:errorClass="is-invalid" type="text" class="form-control" id="categoria">
			<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('nome')}" th:text="${err}" class="text-danger"></li>
				</ul>
			</div>
		</div>





		<button type="submit" class="btn btn-primary">Crea</button>
		<button type="reset" class="btn btn-primary">Resetta tutti i campi</button>
	</form>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nome</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cat : ${listCat}">
				<td th:text="${cat.nome}"></td>
				<td><a type="button" th:href="@{|/eventi/admin/delete/cat/${cat.id}|}"
						onclick="return confirm('Sei sicuro?')">Elimina</a></td>
			</tr>

		</tbody>
	</table>




	<div th:replace="fragments/resources :: scripts"></div>
</body>

</html>