<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org/">

<head>
    <div th:replace="fragments/resources :: headTags"></div>
    <title>Eventi</title>
</head>

<nav th:replace="fragments/navbar"></nav>

<body>

    <div class="m-3">

    <h1>Crea nuova categoria</h1>
    </div>
	<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${message != null}">
		<span th:text="${message}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorMessage != null}">
		<span th:text="${errorMessage}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

    <div class="m-3">
        <form id="categoria-form" th:object="${categoria}" th:action="@{/eventi/admin/createCategory}" method="post">

            <div class="mb-3 w-25">
                <label for="nome" class="form-label">Nome</label>
                <input th:field="*{nome}" th:errorClass="is-invalid" type="text" class="form-control" id="categoria">
                <div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('nome')}" th:text="${err}" class="text-danger"></li>
                    </ul>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Crea</button>
            <button type="reset" class="btn btn-primary ms-1">Resetta tutti i campi</button>
        </form>

    </div>


    <table class="table table-striped m-3">
        <thead>
            <tr>
                <th class="col-4" scope="col">Nome</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cat : ${listCat}">
                <td th:text="${cat.nome}"></td>
                <td><a type="button" th:href="@{|/eventi/admin/delete/cat/${cat.id}|}"
                        onclick="return confirm('Sei sicuro?')">Elimina</a></td>
            </tr>

        </tbody>
    </table>


    <div th:replace="fragments/resources :: scripts"></div>
</body>

</html>