<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>




	<nav class="navbar navbar-dark bg-primary">
		<div class="container-fluid justify-content-start">
			<a class="navbar-brand" type="button" th:href="@{/eventi/admin}">Admin</a>
			<a class="nav-link text-light" type="button" th:href="@{/eventi/admin/create}">Crea evento</a>
			<a class="nav-link text-light" type="button" th:href="@{/eventi/admin/createLocation}">Crea location</a>
			<a class="nav-link text-light" type="button" th:href="@{/eventi/admin/createCategory}">Crea categoria</a>
		</div>
	</nav>


</body>

</html>