<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/">

<body>




    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid justify-content-start">
            <a class="navbar-brand p-2" type="button" th:href="@{/eventi/admin}">Home</a>
            <a class="nav-link text-light p-2" type="button" th:href="@{/eventi/admin/create}">Crea evento</a>
            <a class="nav-link text-light p-2" type="button" th:href="@{/eventi/admin/createLocation}">Gestione location</a>
            <a class="nav-link text-light p-2" type="button" th:href="@{/eventi/admin/createCategory}">Gestione categoria</a>
            <a class="nav-link text-light p-2" type="button" th:href="@{/eventi}">Vai al sito</a>
        </div>
    </nav>


</body>

</html>